= form_for root_path, method: :get do |f|
  .row
    .col-12
      .row
        .col-9
          = text_field_tag(:name_search, params[:name_search], placeholder: 'Buscar pelo nome', class: 'form-control w-100 mb-3')
        .col-3
          = f.submit 'Pesquisar', class: 'btn btn-primary btn-block'

%table.table.table-hover.bg-faded.table-bordered.mt-4
  %thead
    %tr
      %th Imagem do jogador
      %th Nome do jogador
      %th Descrição
  %tbody
    - if players.present?
      - players.each do |player|
        %tr
          %td
            = image_tag "#{player[:thumbnail]}"
          %td
            - name = player[:soccerplayer].to_s.split('/').last.gsub('_', ' ')
            = link_to name, "#{player[:soccerplayer]}", target: :_blank
          %td
            = name = player[:abstract]
