= form_for root_path, method: :get do |f|
  .row
    .col-12
      .row
        .col-3
          - options = options_for_select(country_options, params[:country])

          = select_tag :country, options, { include_blank: 'Filtrar por país', class: 'mb-3 form-control' }
        .col-3
          - options = options_for_select(position_options, params[:position])

          = select_tag :position, options, { include_blank: 'Filtrar por posição', class: 'mb-3 form-control' }
        .col-3
          - options = options_for_select(team_options, params[:team])

          = select_tag :team, options, { include_blank: 'Filtrar por time', class: 'mb-3 form-control' }
        .col-3
          = f.submit 'Pesquisar', class: 'btn btn-primary btn-block'

%table.table.table-hover.bg-faded.table-bordered.mt-4
  %thead
    %tr
      %th Nome do jogador
      %th Imagem do jogador
  %tbody
    - players.each do |player|
      %tr
        %td
          = image_tag "#{player[:thumbnail]}"
        %td
          - name = player[:soccerplayer].to_s.split('/').last.gsub('_', ' ')
          = link_to name, "#{player[:soccerplayer]}", target: :_blank
